 @layout('layout/normalUser/main')
  @section('content')
  <div class="row no-gutters">
  <div class="col">
    <img src="./img/0510/storeactive/pic.jpg" class="img-fluid" alt="">
    <a href="/#formbody">
      {{--  <img id="gonow" src="./img/0510/testdress/BTN.png" alt="">  --}}
    </a>
  </div>
</div>



  @endsection