 @layout('layout/normalUser/main') 
 @section('content')
<img src="./img/0510/underwearsecrect/sss_1.jpg" class="img-fluid" alt=""> 
<img src="./img/0510/underwearsecrect/sss_2.jpg" class="img-fluid" alt=""> 



@endsection